
  
    .icons-youtube {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('https://i.postimg.cc/cHBLQxwP/youtube-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

   .icons-instagram {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('https://i.postimg.cc/3rP3d0sW/instagram-logo-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

   .icons-facebook {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('https://i.postimg.cc/ZqD121Z0/facebook-logo-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

    .icons-tiktok {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('https://i.postimg.cc/CKZvBdTL/tik-tok-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

    .icons-twitch {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('https://i.postimg.cc/yNkVDh8g/telegram-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
    
    .icons-kick {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('https://i.postimg.cc/x1sfjpnV/spotify-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.mega {
    color: #db182c;
    display: inline-block;
  }

  .number {
    color: white;
    display: inline-block;
  }
